server:
  port: 8082
  servlet:
    context-path: /janvier
    encoding:
      charset: UTF-8
      force: true
      enabled: true

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/janvier_db
    username: postgres
    password: Ilies2004_
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  sql:
    init:
      mode: always

  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp

paypal:
  client-id: AV5z2Iw__PdSYbBimrrnCimrojRsVg7dU4zWuxeTo1njjs8NqZtczLRoYoBeua1cEKH_cgvNe6lICaqP
  client-secret: EMraopDis2OSNbdGRYxfhXwwYl3p8QnufbbWt8laVOGH0KXqe8TxkhjMjRz4kIq4watP4gFZO91PxWoV
  mode: sandbox
