server:
  port: 8082
  servlet:
    context-path: /janvier

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/janvier_db
    username: postgres
    password: Ilies2004_
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  sql:
    init:
      mode: always

  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
